[Unit]
Description=A simple notification daemon
PartOf=hyprland-session.target

[Service]
ExecStart=dunst

[Install]
WantedBy=hyprland-session.target
