[Unit]
Description=Audio Effects Manager
PartOf=hyprland-session.target

[Service]
ExecStart=easyeffects --gapplication-service

[Install]
WantedBy=hyprland-session.target
